## Python basics: Part 4
Before we can start working with data, we need to work out some of the basics of Python. The goal is to learn enough so that we can do some interesting data work --- we do not need to be Python Jedi. 

We now know about the basic data structures in python, how types work, and how to do some basic computation and string manipulation. We can use flow control statements to steer our program to different blocks of code depending on conditional statements and we have sorted out loops and list comprehensions. 

Up next is a few more important topics before we get started with pandas. We will cover
1. Slicing
2. User defined functions
3. Objects and TAB completion

## Slicing
Slicing is an important part of python life. We slice a list (or a tuple or a string) when we take a subset of it. As you can probably imagine, slicing will be a common thing we do with data in pandas. We often want to grab slices of the data set and analyze them. 

The slice syntax uses square brackets --- even if we are slicing a string or a tuple. The basic command is 

```python
some_list[start:stop:stride]
```
* `start` is the first element to include in the slice
* `stop` is the first element we do NOT include
* `stride` is the step size

Notice that the start is inclusive and the stop is exclusive. Think of a slice as an half open interval in mathematics: \[start, stop) we include start in the interval but exclude stop. 

The default stride is 1, meaning take every element from [start, stop).

In [1]:
some_list = [5, 6, 7, 8, 9]

print(some_list[0:2])   # indexes start with zero; stride defualts to 1
print(some_list[0:2:1]) # this should be the same
print(some_list[0:5:2]) # take every other element

[5, 6]
[5, 6]
[5, 7, 9]

In [2]:
# take a slice out of the middle
print(some_list[1:3])     #take the second element and the third element

[6, 7]

If we want to take a start and then 'everything to the end' we just leave the second argument blank. A similar sytax for taking everything from the beginning to a stop.

In [3]:
print(some_list[2:])     # the third element to the end of the list
print(some_list[:4])     # everything up to but not including the fifth element

[7, 8, 9]
[5, 6, 7, 8]

One nice thing about this half open interval syntax is that we can divide up a list very neatly:

In [4]:
first_part = some_list[:3]
second_part = some_list[3:]
print(first_part, second_part, some_list)

[5, 6, 7] [8, 9] [5, 6, 7, 8, 9]

Slice arguements can be negative. When we use a negative number for start or stop, we are telling python to count from the end of the list.

In [5]:
print(some_list[:-1])    # all but the last one
print(some_list[:-2])    # all but the last two
print(some_list[-4:-2])    # ugh

[5, 6, 7, 8]
[5, 6, 7]
[6, 7]

If we use a negative number for the stride arguement, we iterate backwards.

In [6]:
print(some_list[::-1])   # print the list out backwards
print(some_list[4:1:-1]) # we are counting backwards, so be careful about start and stop

[9, 8, 7, 6, 5]
[9, 8, 7]

In [8]:
# don't forget, we can do this with strings, too
slogan = 'onward'
print(slogan[:2])       # just print 'on'
print(slogan[::-1])     # backwards

on
drawno

### Practice: Slices
Take a few minutes and try the following. Feel free to chat with those around you if you get stuck. The TA and I are here, too

1. Create the variable `boss = 'Ananath Seshadri'`
2. Slice `boss` to create the variables `first_name` and `second_name`
3. Redo question two to create `first_name_neg` and `last_name_neg` by slicing `boss` using the negative number notation that counts from the end of the list.

In [16]:
boss = 'Ananath Seshadri'
first_name = boss[0:7]
second_name = boss[8:]
print(first_name, second_name)

first_name_neg = boss[:-9]
second_name_neg = boss[-8:]
print(first_name_neg, second_name_neg)

Ananath Seshadri
Ananath Seshadri

Consider this list of sorted data. 

`x_sorted = [10, 40, 100, 1000, 50000]`

1. Print out the 3 largest elements
2. Print out the two smallest elements

In [18]:
x_sorted = [10, 40, 100, 1000, 50000]
print(x_sorted[2:])
print(x_sorted[:2])

[100, 1000, 50000]
[10, 40]

## User defined functions
We have seen some of python's built-in functions: `print()`, `type`, and `len()`. Like many other langauges, python allows users to create their own functions. 

Using functions lets us (or someone else) write and debug the code once --- then we can reuse it. Very powerful stuff. Here is a simple example:

In [19]:
def lb_to_kg(pounds):
    """
    Input a weight in pounds. Return the weight in kilograms.
    """
    
    kilos = pounds * 0.453592                  # 1 pound = 0.453592 kilos...
    
    return kilos                               # this is the value the function returns

When you run the cell above, it looks like nothing happened, but python read the code and created the function. We can use the `whos` statement (a jupyter notebook 'magic' command) to learn about what objects are in the namespace. \[A namespace is a list of all the objects we have created and the names we have assigned them.\]

In [20]:
whos

Variable          Type        Data/Info
---------------------------------------
boss              str         Ananath Seshadri
first_name        str         Ananath
first_name_neg    str         Ananath
first_part        list        n=3
lb_to_kg          function    <function lb_to_kg at 0x1097212f0>
second_name       str         Seshadri
second_name_neg   str         Seshadri
second_part       list        n=2
slogan            str         onward
some_list         list        n=5
x_sorted          list        n=5

We can see the variables we have created earlier as well as the function `lb_to_kg`. Notice functions are of type `function`. Just like any other variable, `lb_to_kg` is loaded into the namespace. 

Now that our function is defined, we are ready to use it.

In [21]:
car_weight_pounds = 5000
car_weight_kilos = lb_to_kg(car_weight_pounds)
print('The car weighs', car_weight_kilos, 'kilos.')

The car weighs 2267.96 kilos.

Since it is our function, we have handle potentially bad inputs, or python will throw an error.

In [22]:
truck_weight_pounds = '5000'       #A classic problem with real data
truck_weight_kilos = lb_to_kg(truck_weight_pounds)
print('The truck weighs', truck_weight_kilos, 'kilos.')

TypeError: can't multiply sequence by non-int of type 'float'

In [23]:
def lb_to_kg_v2(pounds):
    """
    Input a weight in pounds. Return the weight in kilograms.
    """
    
    if type(pounds)=='float' or type(pounds)=='int':   #check that pounds is an allowable type
        kilos = pounds * 0.453592                  # 1 pound = 0.453592 kilos...
        return kilos                               # this is the value the function returns
    else:
        print('error: lb_to_kg_v2 only takes integers or floats.')
        return -99

In [24]:
truck_weight_pounds = '5000'       #A classic problem with real data
truck_weight_kilos = lb_to_kg_v2(truck_weight_pounds)
print('The truck weighs', truck_weight_kilos, 'kilos.')

error: lb_to_kg_v2 only takes integers or floats.
The truck weighs -99 kilos.

How much time you spend writing code that is safe from errors is a tradeoff between your time and how robust your code needs to be. Life is all about tradeoffs. 

We can have functions with several input variables:

In [25]:
def name_fixer(first, middle, last):
    """
    Fix any capitalization problems and create a single variable with the complete name.
    """
    return first.title() + ' ' + middle.title() + ' ' + last.title()           # the sting method title() makes the fist letter capital

In [26]:
mascot_first = 'bucKingham'
mascot_middle = 'u'
mascot_last = 'badger'

full_name = name_fixer(mascot_first, mascot_middle, mascot_last)
print(full_name)

Buckingham U Badger

**Important:** We can also asign several return variables. This is called multiple assignment. First, let's look at multiple assingment outside of a function, then we use it in a function.

In [27]:
# this is an example of multiple assignment. 
a, b = 'foo', 10            #assign 'foo' to a and 10 to b...all in one statement
print(a, b)

foo 10

Back on day one, we worked on the problem of
4. In a code cell, set `m=2` and `n=3`. Write some code that swaps the values of `m` and `n`.

Back then, we created a temp variable to help us make the swap. Now that we have some python under our belts we can just do this:

In [28]:
m = 2
n = 3  #I could have used multiple assignment here, too, but didn't
print('m=', m, 'n=', n)

m, n = n, m                  # make the swap
print('m=', m, 'n=', n)

m= 2 n= 3
m= 3 n= 2

Multiple assignment let's us return several objects from a function.

In [29]:
def temp_converter(temp_in_fahrenheit):
    """
    Takes a temperature in fahrenheit and returns it in celsius and in kelvin.
    """
    temp_in_celsius = (temp_in_fahrenheit - 32) * 5/9
    temp_in_kelvin = (temp_in_fahrenheit + 459.67) *5/9
    return temp_in_celsius, temp_in_kelvin


# Note that I am defining the function and using it in the same code cell. 
# The code below is NOT part of the function definition. We can see that because it is not indented. 

t_f = 65        #temp in 
t_c, t_k = temp_converter(t_f)
print(t_f, 'degrees fahrenheit', 'is', t_c, 'degrees celsius and', t_k, 'degrees kelvin.')

65 degrees fahrenheit is 18.333333333333332 degrees celsius and 291.48333333333335 degrees kelvin.

We need to work on our string formatting at some point...

### Practice: Functions
Take a few minutes and try the following. Feel free to chat with those around you if you get stuck. The TA and I are here, too.

1. Write a change counting function. Pass the function the number of pennies, nickels, dimes, and quarters, and return the value of the coins. Test it with 5 pennies, 4 dimes, 2 quarters. 
2. Modify the `name_fixer()` function to return both the fixed-up full name and the length of the full name. Use multiple assignment. 
3. The `split(delim)` string method breaks up a string into sub-strings. The arguement `delim` defines the delimiting character. For example

In [38]:
# Question 1
def change_counting(pennies = 0, nickels = 0, dimes = 0, quarters = 0): 
    """
    Read the number of pennies, nickels, dimes, and quarters, and return the value of the coins. 
    """
    value = pennies * .01 + nickels * .05 + dimes * .1 + quarters * .25
    return value

print("The value of 5 pennies, 4 dimes, 2 quarters is", change_counting(pennies = 5, dimes = 4, quarters = 2))

# Question 2
def name_fixer_v2(first, middle, last): 
    fixed_name = name_fixer(first, middle, last)
    return fixed_name, len(fixed_name)

mascot_name, mascot_name_length = name_fixer_v2(mascot_first, mascot_middle, mascot_last)
print("mascot name is", mascot_name, "\nmascot name length is", mascot_name_length)

The value of 5 pennies, 4 dimes, 2 quarters is 0.95
mascot name is Buckingham U Badger
mascot name length is 19

In [39]:
test_string = 'There is a place where the sidewalk ends'
test_spring_chunks = test_string.split(' ')        #use the space as the delimiter
print(type(test_spring_chunks))
print(test_spring_chunks)

<class 'list'>
['There', 'is', 'a', 'place', 'where', 'the', 'sidewalk', 'ends']

Write a function that takes names of the form 'last,first,middle' and returns three strings: first, middle, and last. Test your function with  'Silverstein,Sheldon,Allan'.

In [41]:
def name_to_string(name): 
    """
    Take names of the form 'last,first,middle' and returns three strings: first, middle, and last
    """
    name_list = name.split(",")
    return name_list[0], name_list[1], name_list[2]

first, middle, last = name_to_string('Silverstein,Sheldon,Allan')
print("First name is", first, "\nMiddle name is", middle, "\nLast name is", last)

First name is Silverstein
Middle name is Sheldon
Last name is Allan

## Objects and TAB completion
Like c++ or javascript, python is an object-oriented language. This is a topic that a computer science course could devote weeks to, but our goal is understand objects enough to use them well.

Everything in python is an object. The variables we have been creating are objects. The functions we have written are objects. Objects are useful because they have *attributes* and *methods* associated with them. What attributes and methods an object has depends on the object's type. Let's take lists for example. 

```python
list_1 = ['a', 'b', 'c']
list_2 = [4, 5, 6, 7, 8]
```

Both lists are objects and both have type `list`, but their attributes are different. For example list length is an attribute: list_1 is of length 3, while list_2 is of length 5. 

**Methods** are like functions that are attached to an object. Different types of objects have different methods available. Methods implement operations that we often use with a particular data type. We access methods with the 'dot' notation. 
```python
list_1.method()
```
where `method()` is a method associated with the list type. We have been using the `lower()`, `upper()`, and `title()` methods of the string class already.

In [42]:
list_1 = ['a', 'c', 'b']
print(list_1)

['a', 'c', 'b']

In [43]:
list_1.sort()        # the sort() method form the 'list' type

print(list_1)

['a', 'b', 'c']

How do we find out what methods are available for an object? Google is always a good way. 

**Important:** We can also use *TAB completion* in jupyter. Type `list_1.` in the cell below and hit the TAB key.

In [ ]:
list_1.

The TAB gives us a list of possible methods. We have already seen `append()`. `reverse()` looks interesting. Let's give it a try.

In [44]:
list_1.reverse()
print(list_1)

['c', 'b', 'a']

TAB completion is also there to make it easier to reference variables in the namespace. Start typing `lis` and hit tab. It should bring up a list of variables in the namespace that start with 'lis'. This is handy: it saves typing and avoids errors from typos.

### Practice: Objects and TAB completion
Take a few minutes and try the following. Feel free to chat with those around you if you get stuck. The TA and I are here, too.

1. Suppose you have data `gdp = '18,570.50'`. Convert the variable to a float. Use TAB completion (and Google, if needed) to find a method that removes the comma.

In [53]:
gdp = '18,570.50'
gdp_float = float(gdp.replace(",", ""))
print(gdp_float, "\n", type(gdp_float))

18570.5
 <class 'float'>

2. Sort the list below. 
3. Using TAB completion and the object inspector, insert `new_score` into the list in the correct position so that the list stays sorted.

In [60]:
scores = [50, 32, 78, 99, 39, 75]
new_score = 85

scores.sort()
print(scores)
scores.insert(5, new_score)
scores.sort()
print(scores)

[32, 39, 50, 75, 78, 99]
[32, 39, 50, 75, 78, 85, 99]