## Reading and writing data with Pandas

We have seen some of the basic things we can do with Pandas. In doing so, we created some simple DataFrames from dicts. That was simple, but it is almost never how we create DataFrames in the wild. 

Most data live in files, often as comma-sparated values or as MS Excel workbooks, either on our computers or in the cloud. In this notebook, we will review was to get data into (and out of) Pandas.

## Reading from your computer

Let's start by getting files from our own computers. We start by loading Pandas. We are also loading the os package. `os` means 'operating system' and it contains functions that help us navigate the file structure of our computers.

In [3]:
import pandas as pd     # load the pandas package and call it pd
import os               # The package name is already short enough. No need to rename it.

If you have not already, move the `gdp_components.csv` file to your U:\ drive and put it in the same folder that holds this notebook. We expect this file to contain U.S. GDP and its major components. Let's see.

In [2]:
gdp = pd.read_csv('gdp_components.csv')       # read_csv is a part of Pandas, so we need the pd. 
print(type(gdp))                              # What have we got here?

<class 'pandas.core.frame.DataFrame'>

This looks successful. `read_csv()` takes a string with the file name and creates a DataFrame. Let's take a look at the data.

In [3]:
print(gdp)

          DATE       GDPA     GPDIA      GCEA    EXPGSA    IMPGSA
0   1929-01-01    104.556    17.170     9.622     5.939     5.556
1   1930-01-01     92.160    11.428    10.273     4.444     4.121
2   1931-01-01     77.391     6.549    10.169     2.906     2.905
3   1932-01-01     59.522     1.819     8.946     1.975     1.932
4   1933-01-01     57.154     2.276     8.875     1.987     1.929
5   1934-01-01     66.800     4.296    10.721     2.561     2.239
6   1935-01-01     74.241     7.370    11.151     2.769     2.982
7   1936-01-01     84.830     9.391    13.398     3.007     3.154
8   1937-01-01     93.003    12.967    13.119     4.039     3.961
9   1938-01-01     87.352     7.944    14.170     3.811     2.845
10  1939-01-01     93.437    10.229    15.165     3.969     3.136
11  1940-01-01    102.899    14.579    15.562     4.897     3.426
12  1941-01-01    129.309    19.369    27.836     5.482     4.449
13  1942-01-01    165.952    11.762    65.440     4.375     4.627
14  1943-01-01    203.084     7.405    98.023     4.034     6.280
15  1944-01-01    224.447     9.180   108.643     4.880     6.904
16  1945-01-01    228.007    12.400    96.396     6.781     7.547
17  1946-01-01    227.535    33.128    43.027    14.156     6.974
18  1947-01-01    249.616    37.131    39.827    18.740     7.933
19  1948-01-01    274.468    50.347    43.755    15.547    10.060
20  1949-01-01    272.475    39.099    49.808    14.484     9.249
21  1950-01-01    299.827    56.530    50.515    12.350    11.612
22  1951-01-01    346.914    62.759    73.304    17.099    14.586
23  1952-01-01    367.341    57.274    89.583    16.459    15.295
24  1953-01-01    389.218    60.414    96.765    15.313    16.014
25  1954-01-01    390.549    58.070    92.467    15.836    15.432
26  1955-01-01    425.478    73.754    92.958    17.677    17.199
27  1956-01-01    449.353    77.685    98.180    21.284    18.923
28  1957-01-01    474.039    76.505   107.163    24.017    19.942
29  1958-01-01    481.229    70.947   114.138    20.560    20.022
..         ...        ...       ...       ...       ...       ...
59  1988-01-01   5236.438   936.963  1078.855   444.601   553.993
60  1989-01-01   5641.580   999.701  1151.862   504.289   591.031
61  1990-01-01   5963.144   993.448  1238.556   551.873   629.727
62  1991-01-01   6158.129   944.344  1298.951   594.931   623.544
63  1992-01-01   6520.327  1013.006  1344.500   633.053   667.791
64  1993-01-01   6858.559  1106.826  1364.922   654.799   719.973
65  1994-01-01   7287.236  1256.484  1402.274   720.937   813.424
66  1995-01-01   7639.749  1317.489  1449.431   812.810   902.572
67  1996-01-01   8073.122  1432.055  1492.848   867.589   963.966
68  1997-01-01   8577.552  1595.600  1547.133   953.803  1055.774
69  1998-01-01   9062.817  1736.671  1611.609   952.979  1115.690
70  1999-01-01   9630.663  1887.059  1720.360   992.778  1248.612
71  2000-01-01  10252.347  2038.408  1826.845  1096.255  1471.305
72  2001-01-01  10581.822  1934.842  1949.275  1024.636  1392.565
73  2002-01-01  10936.418  1930.417  2088.717   998.741  1424.143
74  2003-01-01  11458.246  2027.056  2211.208  1036.177  1539.304
75  2004-01-01  12213.730  2281.253  2338.889  1177.631  1796.706
76  2005-01-01  13036.637  2534.720  2475.992  1305.225  2026.418
77  2006-01-01  13814.609  2700.954  2624.234  1472.613  2243.538
78  2007-01-01  14451.860  2673.011  2790.844  1660.853  2379.280
79  2008-01-01  14712.845  2477.613  2981.990  1837.055  2560.143
80  2009-01-01  14448.932  1929.664  3073.512  1581.996  1978.447
81  2010-01-01  14992.052  2165.473  3154.647  1846.280  2360.183
82  2011-01-01  15542.582  2332.562  3148.372  2102.995  2682.456
83  2012-01-01  16197.007  2621.754  3137.010  2191.280  2759.851
84  2013-01-01  16784.851  2826.013  3132.409  2273.428  2764.210
85  2014-01-01  17521.747  3038.931  3167.041  2371.027  2879.284
86  2015-01-01  18219.297  3211.971  3234.210  2265.047  2786.461
87  2016-01-01  18707.189  3169.887  3290.979  2217.576  2738.146
88  2017-01-01  19485.394  3367.965  3374.444  2350.175  2928.596

[89 rows x 6 columns]

Even though jupyter notebook hid rows 30-58, this is still a bit obnoxious. We can use the `head()` and `tail()` methods of DataFrame to peek at just the first or last few rows.

In [4]:
print(gdp.head(4))            # Show the first 4 rows.

         DATE     GDPA   GPDIA    GCEA  EXPGSA  IMPGSA
0  1929-01-01  104.556  17.170   9.622   5.939   5.556
1  1930-01-01   92.160  11.428  10.273   4.444   4.121
2  1931-01-01   77.391   6.549  10.169   2.906   2.905
3  1932-01-01   59.522   1.819   8.946   1.975   1.932

If you do not pass `head()` or `tail()` an argument, it defaults to 5 rows.

In [5]:
print(gdp.tail())

          DATE       GDPA     GPDIA      GCEA    EXPGSA    IMPGSA
84  2013-01-01  16784.851  2826.013  3132.409  2273.428  2764.210
85  2014-01-01  17521.747  3038.931  3167.041  2371.027  2879.284
86  2015-01-01  18219.297  3211.971  3234.210  2265.047  2786.461
87  2016-01-01  18707.189  3169.887  3290.979  2217.576  2738.146
88  2017-01-01  19485.394  3367.965  3374.444  2350.175  2928.596

The index isn't very sensible. This is time series data (the unit of observation is a year), so the date seems like a good index. How do we set the index?

In [6]:
gdp_new_index = gdp.set_index('DATE')   # We could use 'inplace = True' if we didn't need a copy.

print(gdp_new_index.head())

               GDPA   GPDIA    GCEA  EXPGSA  IMPGSA
DATE
1929-01-01  104.556  17.170   9.622   5.939   5.556
1930-01-01   92.160  11.428  10.273   4.444   4.121
1931-01-01   77.391   6.549  10.169   2.906   2.905
1932-01-01   59.522   1.819   8.946   1.975   1.932
1933-01-01   57.154   2.276   8.875   1.987   1.929

We can also set the index as we read in the file. Let's take a look at the read_csv() function.

In [7]:
pd.read_csv?

I'm seeing a lot of good stuff here. `index_col`, `usecols`, `header`, `sep`,...some stuff I don't know about, too. When reading in messy files, these extra arguments may come in handy. 

Let's give `index_col` a try.

In [8]:
gdp_2 = pd.read_csv('gdp_components.csv', index_col = 0)    # Treat the CSV like a DataFrame. Count cols staring with 0

In [9]:
gdp_2.head()

               GDPA   GPDIA    GCEA  EXPGSA  IMPGSA
DATE
1929-01-01  104.556  17.170   9.622   5.939   5.556
1930-01-01   92.160  11.428  10.273   4.444   4.121
1931-01-01   77.391   6.549  10.169   2.906   2.905
1932-01-01   59.522   1.819   8.946   1.975   1.932
1933-01-01   57.154   2.276   8.875   1.987   1.929

### Navigating your file structure
We dumped our file into our **current working directory** so we could just ask for the file name `gdp_components.csv` in `read_csv()`. What is our current working directory (cwd)?

In [10]:
path_to_cwd = os.getcwd()           # getcwd() is part of the os package we imported earlier
print(path_to_cwd)

/Users/travis/Documents/Box Sync/04 Senior/2018 Fall/ECON 690-003/Weekly Schedule/02_pandas

When we gave read_csv() gpd_components.csv, it looked in our cwd for the file. Let's try something more complicated. Go into your Data_Class folder and create a new folder called Data_Files. Make a copy of the gdp_components file and paste it into the Data_Files folder. Rename the file `gdp_components_moved.csv`.

In [11]:
gdp_moved = pd.read_csv('gdp_components_moved.csv')

FileNotFoundError: File b'gdp_components_moved.csv' does not exist

Of course this doesn't work. The file is not in our cwd. It's good see what that kind of error message looks like. We need to pass csv_read() the *path* to the file. The path is the hierarchy of folders that contains the file. In my case, the path is 

U:\Data_Class\Data_Files

Note that there is a  `\` each time we list a new folder.

In [15]:
gdp_moved = pd.read_csv(path_to_cwd + "/Data_Files/gdp_components_moved.csv")
gdp_moved.head()

         DATE     GDPA   GPDIA    GCEA  EXPGSA  IMPGSA
0  1929-01-01  104.556  17.170   9.622   5.939   5.556
1  1930-01-01   92.160  11.428  10.273   4.444   4.121
2  1931-01-01   77.391   6.549  10.169   2.906   2.905
3  1932-01-01   59.522   1.819   8.946   1.975   1.932
4  1933-01-01   57.154   2.276   8.875   1.987   1.929

We could have manipulated some strings to get to this, too. This approach might be useful if you needed to read in many files from the same place. (Maybe using a for loop and a list of file names?)

In [16]:
path_to_cwd = os.getcwd()
file_name = 'gdp_components_moved.csv'
path_to_data_file = path_to_cwd + '/Data_Files/' +  file_name  #Note the double \ characters
# Original code: path_to_data_file = path_to_cwd + '\\Data_Files\\' +  file_name
print(path_to_data_file)

/Users/travis/Documents/Box Sync/04 Senior/2018 Fall/ECON 690-003/Weekly Schedule/02_pandas/Data_Files/gdp_components_moved.csv

In [17]:
gdp_moved = pd.read_csv(path_to_data_file, index_col=0)
gdp_moved.head()

               GDPA   GPDIA    GCEA  EXPGSA  IMPGSA
DATE
1929-01-01  104.556  17.170   9.622   5.939   5.556
1930-01-01   92.160  11.428  10.273   4.444   4.121
1931-01-01   77.391   6.549  10.169   2.906   2.905
1932-01-01   59.522   1.819   8.946   1.975   1.932
1933-01-01   57.154   2.276   8.875   1.987   1.929

### Practice: Reading CSVs
Take a few minutes and try the following. Feel free to chat with those around if you get stuck. The TA and I are here, too.

1. Try out the `to_csv()` method of DataFrame. Save `gdp_moved` as 'gdp_moved_2.csv' in your cwd. \[You can use `?` if you need help.\]

In [20]:
path = "/Users/travis/Documents/Box Sync/04 Senior/2018 Fall/ECON 690-003/Weekly Schedule/02_pandas/"
os.chdir(path)
gdp_moved.to_csv(path_or_buf = "gdp_moved_2.csv")

2. Use `to_csv()` again to save `gdp_moved` to the Data_Files folder. Name it 'gdp_moved_3.csv'

In [21]:
path = "/Users/travis/Documents/Box Sync/04 Senior/2018 Fall/ECON 690-003/Weekly Schedule/02_pandas/Data_Files/"
os.chdir(path)
gdp_moved.to_csv(path_or_buf = "gdp_moved_3.csv")

Are your files in the correct places? 

Isn't this supposed to be practice reading in CSV files? Right. Let's do some of that. 

3. Use gdp_moved_3.csv to create a DataFrame named gdp_growth. Set the index to the dates. Print out the first 10 years of data.

In [24]:
path = "/Users/travis/Documents/Box Sync/04 Senior/2018 Fall/ECON 690-003/Weekly Schedule/02_pandas/Data_Files/"
os.chdir(path)
gdp_growth = pd.read_csv("gdp_moved_3.csv", index_col=0)
print(gdp_growth.head(10))

               GDPA   GPDIA    GCEA  EXPGSA  IMPGSA
DATE
1929-01-01  104.556  17.170   9.622   5.939   5.556
1930-01-01   92.160  11.428  10.273   4.444   4.121
1931-01-01   77.391   6.549  10.169   2.906   2.905
1932-01-01   59.522   1.819   8.946   1.975   1.932
1933-01-01   57.154   2.276   8.875   1.987   1.929
1934-01-01   66.800   4.296  10.721   2.561   2.239
1935-01-01   74.241   7.370  11.151   2.769   2.982
1936-01-01   84.830   9.391  13.398   3.007   3.154
1937-01-01   93.003  12.967  13.119   4.039   3.961
1938-01-01   87.352   7.944  14.170   3.811   2.845

4. Rename 'GDPA' to 'gdp' and rename 'GCEA' to 'gov'

In [54]:
gdp_growth.rename(columns = {"GDPA":"gdp", "GCEA":"gov"}, inplace=True)
gdp_growth

                  gdp     GPDIA       gov    EXPGSA    IMPGSA
DATE
1929-01-01    104.556    17.170     9.622     5.939     5.556
1930-01-01     92.160    11.428    10.273     4.444     4.121
1931-01-01     77.391     6.549    10.169     2.906     2.905
1932-01-01     59.522     1.819     8.946     1.975     1.932
1933-01-01     57.154     2.276     8.875     1.987     1.929
1934-01-01     66.800     4.296    10.721     2.561     2.239
1935-01-01     74.241     7.370    11.151     2.769     2.982
1936-01-01     84.830     9.391    13.398     3.007     3.154
1937-01-01     93.003    12.967    13.119     4.039     3.961
1938-01-01     87.352     7.944    14.170     3.811     2.845
1939-01-01     93.437    10.229    15.165     3.969     3.136
1940-01-01    102.899    14.579    15.562     4.897     3.426
1941-01-01    129.309    19.369    27.836     5.482     4.449
1942-01-01    165.952    11.762    65.440     4.375     4.627
1943-01-01    203.084     7.405    98.023     4.034     6.280
1944-01-01    224.447     9.180   108.643     4.880     6.904
1945-01-01    228.007    12.400    96.396     6.781     7.547
1946-01-01    227.535    33.128    43.027    14.156     6.974
1947-01-01    249.616    37.131    39.827    18.740     7.933
1948-01-01    274.468    50.347    43.755    15.547    10.060
1949-01-01    272.475    39.099    49.808    14.484     9.249
1950-01-01    299.827    56.530    50.515    12.350    11.612
1951-01-01    346.914    62.759    73.304    17.099    14.586
1952-01-01    367.341    57.274    89.583    16.459    15.295
1953-01-01    389.218    60.414    96.765    15.313    16.014
1954-01-01    390.549    58.070    92.467    15.836    15.432
1955-01-01    425.478    73.754    92.958    17.677    17.199
1956-01-01    449.353    77.685    98.180    21.284    18.923
1957-01-01    474.039    76.505   107.163    24.017    19.942
1958-01-01    481.229    70.947   114.138    20.560    20.022
...               ...       ...       ...       ...       ...
1988-01-01   5236.438   936.963  1078.855   444.601   553.993
1989-01-01   5641.580   999.701  1151.862   504.289   591.031
1990-01-01   5963.144   993.448  1238.556   551.873   629.727
1991-01-01   6158.129   944.344  1298.951   594.931   623.544
1992-01-01   6520.327  1013.006  1344.500   633.053   667.791
1993-01-01   6858.559  1106.826  1364.922   654.799   719.973
1994-01-01   7287.236  1256.484  1402.274   720.937   813.424
1995-01-01   7639.749  1317.489  1449.431   812.810   902.572
1996-01-01   8073.122  1432.055  1492.848   867.589   963.966
1997-01-01   8577.552  1595.600  1547.133   953.803  1055.774
1998-01-01   9062.817  1736.671  1611.609   952.979  1115.690
1999-01-01   9630.663  1887.059  1720.360   992.778  1248.612
2000-01-01  10252.347  2038.408  1826.845  1096.255  1471.305
2001-01-01  10581.822  1934.842  1949.275  1024.636  1392.565
2002-01-01  10936.418  1930.417  2088.717   998.741  1424.143
2003-01-01  11458.246  2027.056  2211.208  1036.177  1539.304
2004-01-01  12213.730  2281.253  2338.889  1177.631  1796.706
2005-01-01  13036.637  2534.720  2475.992  1305.225  2026.418
2006-01-01  13814.609  2700.954  2624.234  1472.613  2243.538
2007-01-01  14451.860  2673.011  2790.844  1660.853  2379.280
2008-01-01  14712.845  2477.613  2981.990  1837.055  2560.143
2009-01-01  14448.932  1929.664  3073.512  1581.996  1978.447
2010-01-01  14992.052  2165.473  3154.647  1846.280  2360.183
2011-01-01  15542.582  2332.562  3148.372  2102.995  2682.456
2012-01-01  16197.007  2621.754  3137.010  2191.280  2759.851
2013-01-01  16784.851  2826.013  3132.409  2273.428  2764.210
2014-01-01  17521.747  3038.931  3167.041  2371.027  2879.284
2015-01-01  18219.297  3211.971  3234.210  2265.047  2786.461
2016-01-01  18707.189  3169.887  3290.979  2217.576  2738.146
2017-01-01  19485.394  3367.965  3374.444  2350.175  2928.596

[89 rows x 5 columns]

## Reading Excel spreadsheets
Reading spreadsheets isn't much different than reading csv files. But, since workbooks are more complicated than csv files, we have a few more options to consider. 

If you haven't already, copy over debt.xlsx to your cwd. Let's open it in Excel and have a look at it...

There's a lot going on here: missing data, some #N/A stuff, and several header rows. Let's get to work.

In [33]:
path = "/Users/travis/Documents/Box Sync/04 Senior/2018 Fall/ECON 690-003/Weekly Schedule/02_pandas/"
os.chdir(path)
debt = pd.read_excel('debt.xlsx')
debt

,FRED Graph Observations,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Federal Reserve Economic Data,NaN,NaN,NaN
1,Link: https://fred.stlouisfed.org,NaN,NaN,NaN
2,Help: https://fred.stlouisfed.org/help-faq,NaN,NaN,NaN
3,Economic Research Division,NaN,NaN,NaN
4,Federal Reserve Bank of St. Louis,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,GDPA,"Gross Domestic Product, Billions of Dollars, A...",NaN,NaN
7,GFDEBTN,"Federal Debt: Total Public Debt, Millions of D...",NaN,NaN
8,DGS10,"10-Year Treasury Constant Maturity Rate, Perce...",NaN,NaN
9,NaN,NaN,NaN,NaN
10,Frequency: Annual,NaN,NaN,NaN
11,observation_date,GDPA,GFDEBTN,DGS10
12,1929-01-01 00:00:00,104.556,NaN,NaN
13,1930-01-01 00:00:00,92.16,NaN,NaN
14,1931-01-01 00:00:00,77.391,NaN,NaN
15,1932-01-01 00:00:00,59.522,NaN,NaN
16,1933-01-01 00:00:00,57.154,NaN,NaN
17,1934-01-01 00:00:00,66.8,NaN,NaN
18,1935-01-01 00:00:00,74.241,NaN,NaN
19,1936-01-01 00:00:00,84.83,NaN,NaN
20,1937-01-01 00:00:00,93.003,NaN,NaN
21,1938-01-01 00:00:00,87.352,NaN,NaN
22,1939-01-01 00:00:00,93.437,NaN,NaN
23,1940-01-01 00:00:00,102.899,NaN,NaN
24,1941-01-01 00:00:00,129.309,NaN,NaN
25,1942-01-01 00:00:00,165.952,NaN,NaN
26,1943-01-01 00:00:00,203.084,NaN,NaN
27,1944-01-01 00:00:00,224.447,NaN,NaN
28,1945-01-01 00:00:00,228.007,NaN,NaN
29,1946-01-01 00:00:00,227.535,NaN,NaN
...,...,...,...,...
72,1989-01-01 00:00:00,5641.58,2.83781e+06,8.49372
73,1990-01-01 00:00:00,5963.14,3.19846e+06,8.5524
74,1991-01-01 00:00:00,6158.13,3.61754e+06,7.86244
75,1992-01-01 00:00:00,6520.33,4.02689e+06,7.00884
76,1993-01-01 00:00:00,6858.56,4.38243e+06,5.86628
77,1994-01-01 00:00:00,7287.24,4.67864e+06,7.08518
78,1995-01-01 00:00:00,7639.75,4944534,6.57392
79,1996-01-01 00:00:00,8073.12,5.20671e+06,6.44353
80,1997-01-01 00:00:00,8577.55,5.41814e+06,6.35396
81,1998-01-01 00:00:00,9062.82,5.55769e+06,5.26288
82,1999-01-01 00:00:00,9630.66,5.68069e+06,5.64614
83,2000-01-01 00:00:00,10252.3,5.69893e+06,6.03028
84,2001-01-01 00:00:00,10581.8,5.81286e+06,5.02069
85,2002-01-01 00:00:00,10936.4,6191611,4.61308
86,2003-01-01 00:00:00,11458.2,6.72805e+06,4.01388
87,2004-01-01 00:00:00,12213.7,7.34515e+06,4.27132
88,2005-01-01 00:00:00,13036.6,7.92914e+06,4.28888
89,2006-01-01 00:00:00,13814.6,8494599,4.795
90,2007-01-01 00:00:00,14451.9,8.98854e+06,4.63466
91,2008-01-01 00:00:00,14712.8,9.91353e+06,3.66426
92,2009-01-01 00:00:00,14448.9,1.17233e+07,3.26412
93,2010-01-01 00:00:00,14992.1,13390438,3.21506
94,2011-01-01 00:00:00,15542.6,1.46566e+07,2.78164
95,2012-01-01 00:00:00,16197,1.59901e+07,1.80344
96,2013-01-01 00:00:00,16784.9,16851000,2.35016
97,2014-01-01 00:00:00,17521.7,17799837,2.53956
98,2015-01-01 00:00:00,18219.3,1.83442e+07,2.13829
99,2016-01-01 00:00:00,18707.2,1.95492e+07,1.83744
100,2017-01-01 00:00:00,19485.4,2.01072e+07,2.32948
101,2018-01-01 00:00:00,NaN,NaN,NaN

In [34]:
# Use the header to specify the row to use as the column names. (zero based, as usual)

debt = pd.read_excel('debt.xlsx', header = 12)

print(debt.head())
print('\n')
print(debt.tail())

  observation_date     GDPA  GFDEBTN  DGS10
0       1929-01-01  104.556      NaN    NaN
1       1930-01-01   92.160      NaN    NaN
2       1931-01-01   77.391      NaN    NaN
3       1932-01-01   59.522      NaN    NaN
4       1933-01-01   57.154      NaN    NaN


   observation_date       GDPA      GFDEBTN     DGS10
85       2014-01-01  17521.747  17799837.00  2.539560
86       2015-01-01  18219.297  18344212.75  2.138287
87       2016-01-01  18707.189  19549200.50  1.837440
88       2017-01-01  19485.394  20107155.25  2.329480
89       2018-01-01        NaN          NaN       NaN

That's looking good. Notice that Pandas added NaN for the missing data and for those #N\A entries. We will have to deal with those at some point. The header parameter is part of `read_csv()`, too.

We didn't specify which sheet in the workbook to load, so Pandas took the first one. We can ask for sheets by name.

In [35]:
debt_q = pd.read_excel('debt.xlsx', header=12, sheet_name='quarterly')
print(debt_q.head())
print('\n')
print(debt_q.tail())

  observation_date  GFDEBTN  DGS10      GDP
0       1947-01-01      NaN    NaN  243.164
1       1947-04-01      NaN    NaN  245.968
2       1947-07-01      NaN    NaN  249.585
3       1947-10-01      NaN    NaN  259.745
4       1948-01-01      NaN    NaN  265.742


    observation_date     GFDEBTN     DGS10        GDP
281       2017-04-01  19844554.0  2.260952  19359.123
282       2017-07-01  20244900.0  2.241429  19588.074
283       2017-10-01  20492747.0  2.371452  19831.829
284       2018-01-01  21089643.0  2.758525  20041.047
285       2018-04-01  21195070.0  2.920625  20411.924

We can ask for just a subset of the columns when reading in a file (csv or xlsx). Use the `usecols` argument. This takes either integers or Excel column letters.

In [36]:
# Take the first and third columns of sheet 'quarterly'

interest_rates = pd.read_excel('debt.xlsx', header=12,  sheet_name='quarterly', usecols=[0,2])  
interest_rates.head()

  observation_date  DGS10
0       1947-01-01    NaN
1       1947-04-01    NaN
2       1947-07-01    NaN
3       1947-10-01    NaN
4       1948-01-01    NaN

### Practice: Reading Excel
Take a few minutes and try the following. Feel free to chat with those around if you get stuck. The TA and I are here, too.

1. Read in the quarterly data from 'debt.xlsx' and keep only the columns with the date, gdp, and GFDEBTN. Name your new DataFrame `fed_debt`.

In [47]:
fed_debt = pd.read_excel("debt.xlsx", header=12, usecols=[0, 3, 1], sheet_name="quarterly", index_col=0)
fed_debt

                     GFDEBTN        GDP
observation_date
1947-01-01               NaN    243.164
1947-04-01               NaN    245.968
1947-07-01               NaN    249.585
1947-10-01               NaN    259.745
1948-01-01               NaN    265.742
1948-04-01               NaN    272.567
1948-07-01               NaN    279.196
1948-10-01               NaN    280.366
1949-01-01               NaN    275.034
1949-04-01               NaN    271.351
1949-07-01               NaN    272.889
1949-10-01               NaN    270.627
1950-01-01               NaN    280.828
1950-04-01               NaN    290.383
1950-07-01               NaN    308.153
1950-10-01               NaN    319.945
1951-01-01               NaN    336.000
1951-04-01               NaN    344.090
1951-07-01               NaN    351.385
1951-10-01               NaN    356.178
1952-01-01               NaN    359.820
1952-04-01               NaN    361.030
1952-07-01               NaN    367.701
1952-10-01               NaN    380.812
1953-01-01               NaN    387.980
1953-04-01               NaN    391.749
1953-07-01               NaN    391.171
1953-10-01               NaN    385.970
1954-01-01               NaN    385.345
1954-04-01               NaN    386.121
...                      ...        ...
2011-01-01        14270114.0  15285.828
2011-04-01        14343087.0  15496.189
2011-07-01        14790340.0  15591.850
2011-10-01        15222940.0  15796.460
2012-01-01        15606518.0  16019.758
2012-04-01        15855037.0  16152.257
2012-07-01        16066240.0  16257.151
2012-10-01        16432730.0  16358.863
2013-01-01        16771381.0  16569.591
2013-04-01        16738320.0  16637.926
2013-07-01        16738180.0  16848.748
2013-10-01        17156119.0  17083.137
2014-01-01        17601227.0  17102.932
2014-04-01        17632606.0  17425.766
2014-07-01        17824071.0  17719.836
2014-10-01        18141444.0  17838.454
2015-01-01        18152056.0  17970.422
2015-04-01        18151998.0  18221.299
2015-07-01        18150618.0  18331.093
2015-10-01        18922179.0  18354.372
2016-01-01        19264939.0  18409.130
2016-04-01        19381591.0  18640.732
2016-07-01        19573445.0  18799.648
2016-10-01        19976827.0  18979.245
2017-01-01        19846420.0  19162.550
2017-04-01        19844554.0  19359.123
2017-07-01        20244900.0  19588.074
2017-10-01        20492747.0  19831.829
2018-01-01        21089643.0  20041.047
2018-04-01        21195070.0  20411.924

[286 rows x 2 columns]

2. Oops, I wanted to set the observation_date to the index. Go back and add that to your solution to 1. 
3. What is 'GFDEBTN'? It is the federal debt, in millions. Rename this variable to 'DEBT'

In [53]:
fed_debt.rename(columns = {"GFDEBTN":"DEBT"}, inplace=True)
fed_debt

                        DEBT        GDP
observation_date
1947-01-01               NaN    243.164
1947-04-01               NaN    245.968
1947-07-01               NaN    249.585
1947-10-01               NaN    259.745
1948-01-01               NaN    265.742
1948-04-01               NaN    272.567
1948-07-01               NaN    279.196
1948-10-01               NaN    280.366
1949-01-01               NaN    275.034
1949-04-01               NaN    271.351
1949-07-01               NaN    272.889
1949-10-01               NaN    270.627
1950-01-01               NaN    280.828
1950-04-01               NaN    290.383
1950-07-01               NaN    308.153
1950-10-01               NaN    319.945
1951-01-01               NaN    336.000
1951-04-01               NaN    344.090
1951-07-01               NaN    351.385
1951-10-01               NaN    356.178
1952-01-01               NaN    359.820
1952-04-01               NaN    361.030
1952-07-01               NaN    367.701
1952-10-01               NaN    380.812
1953-01-01               NaN    387.980
1953-04-01               NaN    391.749
1953-07-01               NaN    391.171
1953-10-01               NaN    385.970
1954-01-01               NaN    385.345
1954-04-01               NaN    386.121
...                      ...        ...
2011-01-01        14270114.0  15285.828
2011-04-01        14343087.0  15496.189
2011-07-01        14790340.0  15591.850
2011-10-01        15222940.0  15796.460
2012-01-01        15606518.0  16019.758
2012-04-01        15855037.0  16152.257
2012-07-01        16066240.0  16257.151
2012-10-01        16432730.0  16358.863
2013-01-01        16771381.0  16569.591
2013-04-01        16738320.0  16637.926
2013-07-01        16738180.0  16848.748
2013-10-01        17156119.0  17083.137
2014-01-01        17601227.0  17102.932
2014-04-01        17632606.0  17425.766
2014-07-01        17824071.0  17719.836
2014-10-01        18141444.0  17838.454
2015-01-01        18152056.0  17970.422
2015-04-01        18151998.0  18221.299
2015-07-01        18150618.0  18331.093
2015-10-01        18922179.0  18354.372
2016-01-01        19264939.0  18409.130
2016-04-01        19381591.0  18640.732
2016-07-01        19573445.0  18799.648
2016-10-01        19976827.0  18979.245
2017-01-01        19846420.0  19162.550
2017-04-01        19844554.0  19359.123
2017-07-01        20244900.0  19588.074
2017-10-01        20492747.0  19831.829
2018-01-01        21089643.0  20041.047
2018-04-01        21195070.0  20411.924

[286 rows x 2 columns]

4. Create a variable name debt_ratio that is the debt to GDP ratio. Debt is in millions and gdp is in billions. Adjust accordingly.

In [56]:
debt_ratio = fed_debt.DEBT / (fed_debt.GDP * 1000)
debt_ratio

observation_date
1947-01-01         NaN
1947-04-01         NaN
1947-07-01         NaN
1947-10-01         NaN
1948-01-01         NaN
1948-04-01         NaN
1948-07-01         NaN
1948-10-01         NaN
1949-01-01         NaN
1949-04-01         NaN
1949-07-01         NaN
1949-10-01         NaN
1950-01-01         NaN
1950-04-01         NaN
1950-07-01         NaN
1950-10-01         NaN
1951-01-01         NaN
1951-04-01         NaN
1951-07-01         NaN
1951-10-01         NaN
1952-01-01         NaN
1952-04-01         NaN
1952-07-01         NaN
1952-10-01         NaN
1953-01-01         NaN
1953-04-01         NaN
1953-07-01         NaN
1953-10-01         NaN
1954-01-01         NaN
1954-04-01         NaN
                ...
2011-01-01    0.933552
2011-04-01    0.925588
2011-07-01    0.948594
2011-10-01    0.963693
2012-01-01    0.974204
2012-04-01    0.981599
2012-07-01    0.988257
2012-10-01    1.004515
2013-01-01    1.012178
2013-04-01    1.006034
2013-07-01    0.993438
2013-10-01    1.004272
2014-01-01    1.029135
2014-04-01    1.011870
2014-07-01    1.005882
2014-10-01    1.016985
2015-01-01    1.010107
2015-04-01    0.996197
2015-07-01    0.990155
2015-10-01    1.030936
2016-01-01    1.046488
2016-04-01    1.039744
2016-07-01    1.041160
2016-10-01    1.052562
2017-01-01    1.035688
2017-04-01    1.025075
2017-07-01    1.033532
2017-10-01    1.033326
2018-01-01    1.052322
2018-04-01    1.038367
Length: 286, dtype: float64

There are a lot of missing debt values. Did Pandas throw an error? No. Pandas knows (in some cases) how to work around missing data. 
5. Summarize the debt_ratio variable. What is its max level? Its min?

In [57]:
debt_ratio.describe()

count    210.000000
mean       0.564994
std        0.227520
min        0.306033
25%        0.355102
50%        0.555767
75%        0.641648
max        1.052562
dtype: float64

## Reading from the internet
We can pass `read` functions urls, too. We will see a different way to read data from internet sites set up with APIs. Soon.

In [47]:
# Read in the penn world table data
url = "http://www.rug.nl/ggdc/docs/pwt81.xlsx"
pwt = pd.read_excel(url, sheet_name = "Data")
pwt.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_g,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_k
0,AGO,Angola,Kwanza,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGO,Angola,Kwanza,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AGO,Angola,Kwanza,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,Angola,Kwanza,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Kwanza,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

That took a few seconds --- this is a pretty big file.

In [48]:
# Data from McKinney's book. Each file contains baby name counts for a year. 
baby_url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/babynames'

# What was trendy in 1880?
old_names = pd.read_csv(baby_url + '//yob1880.txt')
old_names.head()

        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939
3     Minnie  F  1746
4   Margaret  F  1578

We've lost Mary, which looks pretty popular. What happened? 

We can specify no header with the `None` keyword

In [49]:
old_names = pd.read_csv(baby_url + '//yob1880.txt', header=None)
old_names.head()

           0  1     2
0       Mary  F  7065
1       Anna  F  2604
2       Emma  F  2003
3  Elizabeth  F  1939
4     Minnie  F  1746

In [59]:
old_names.columns = ["Name", "Sex", "Amount"]
old_names.head()

        Name Sex  Amount
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746

### Practice
Take a few minutes and try the following. Feel free to chat with those around if you get stuck. The TA and I are here, too.

### Baby names

1. Get the baby name data for 2009. Call the DataFrame `new_names`. Give the columns some reasonable names.

In [50]:
new_names = pd.read_csv(baby_url + "/yob2009.txt", header = None)
new_names.columns = ["Name", "Sex", "Amount"]
new_names

            Name Sex  Amount
0       Isabella   F   22222
1           Emma   F   17830
2         Olivia   F   17374
3         Sophia   F   16869
4            Ava   F   15826
5          Emily   F   15295
6        Madison   F   15181
7        Abigail   F   14342
8          Chloe   F   11859
9            Mia   F   11382
10     Elizabeth   F   10969
11       Addison   F   10642
12        Alexis   F    9893
13          Ella   F    9628
14      Samantha   F    9616
15       Natalie   F    9378
16         Grace   F    8279
17          Lily   F    8066
18        Alyssa   F    7935
19        Ashley   F    7793
20         Sarah   F    7725
21        Taylor   F    7558
22        Hannah   F    7537
23       Brianna   F    7325
24        Hailey   F    7295
25        Kaylee   F    7194
26       Lillian   F    6824
27          Anna   F    6755
28          Leah   F    6755
29       Allison   F    6567
...          ...  ..     ...
34572  Zecharyah   M       5
34573        Zee   M       5
34574   Zekariah   M       5
34575      Zekhi   M       5
34576       Zell   M       5
34577    Zepplin   M       5
34578     Zequan   M       5
34579     Zereon   M       5
34580     Zevion   M       5
34581       Zhen   M       5
34582     Zhyair   M       5
34583       Zien   M       5
34584       Zier   M       5
34585   Zildjian   M       5
34586        Zim   M       5
34587      Zimir   M       5
34588       Ziya   M       5
34589      Ziyun   M       5
34590     Zlatan   M       5
34591       Zoen   M       5
34592     Zubayr   M       5
34593     Zuhaib   M       5
34594      Zykee   M       5
34595     Zykell   M       5
34596      Zylar   M       5
34597  Zyquarius   M       5
34598      Zyran   M       5
34599    Zyreion   M       5
34600     Zyrian   M       5
34601     Zyvion   M       5

[34602 rows x 3 columns]

2. What are the two most popular female names in 1880?

In [51]:
print(list(new_names.loc[[0,1], "Name"]))

['Isabella', 'Emma']

2. What are the two least popular female names in 1880?

In [52]:
new_names_female = new_names.loc[new_names.Sex == "F", :].loc[::-1, :]
new_names_female.reset_index(inplace=True)
print(list(new_names_female.loc[[0, 1], "Name"]))

['Zyriel', 'Zyrie']

### Pisa Scores

1. In a web browser, go to [dx.doi.org/10.1787/888932937035](http://dx.doi.org/10.1787/888932937035) This should initiate a download of an excel file with pisa scores across countries. This is a bit of a mess. Open the file in Excel and take a look. 

2. Use the `read_url()` function to create a DataFrame with mean scores in math, reading, and science. Do not set an index yet. There is some junk at the bottom of the spreadsheet. Try the `skipfooter` argument. Print out a few rows. How does it look?

In [53]:
df = pd.read_excel("http://dx.doi.org/10.1787/888932937035", header = 19, skipfooter = 7)

df_means = df.loc[:, ["Mean score in PISA 2012", "Mean score in PISA 2012.1", "Mean score in PISA 2012.2"]]
df_means

,Mean score in PISA 2012,Mean score in PISA 2012.1,Mean score in PISA 2012.2
NaN,NaN,NaN,NaN
OECD average,494.046447,496.462864,501.159793
NaN,NaN,NaN,NaN
Shanghai-China,612.675536,569.588408,580.117831
Singapore,573.468314,542.215834,551.493157
Hong Kong-China,561.241096,544.600086,554.937434
Chinese Taipei,559.824796,523.118904,523.314904
Korea,553.766659,535.790490,537.787622
Macao-China,538.134495,508.949255,520.570875
Japan,536.406918,538.051485,546.735600
Liechtenstein,534.965083,515.521654,524.694992
Switzerland,530.931004,509.040250,515.297523
Netherlands,522.971758,511.229965,522.055822
Estonia,520.545522,516.294184,541.404756
Finland,518.750335,524.021670,545.441940
Canada,518.078519,523.116718,525.460970
Poland,517.501097,518.186881,525.816445
Belgium,514.745239,509.108049,505.457459
Germany,513.525056,507.676530,524.120799
Viet Nam,511.338208,508.218990,528.423259
Austria,505.540743,489.609335,505.781247
Australia,504.150766,511.803998,521.494746
Ireland,501.497460,523.173210,522.003959
Slovenia,501.127422,481.316283,514.142555
Denmark,500.026757,496.130881,498.474201
New Zealand,499.749903,512.186793,515.636319
Czech Republic,498.957882,492.889738,508.299079
France,494.984674,505.481483,498.970894
United Kingdom,493.934231,499.323115,514.129321
Iceland,492.795697,482.522440,478.154596
...,...,...,...
United States,481.366786,497.581718,497.409811
Lithuania,478.823277,477.306612,495.700086
Sweden,478.260636,483.335006,484.798966
Hungary,477.044455,488.461334,494.302351
Croatia,471.131461,484.565032,491.356583
Israel,466.481430,485.803212,470.072662
Greece,452.973427,477.197177,466.722029
Serbia,448.859130,446.130196,444.804111
Turkey,447.984415,475.491466,463.412909
Romania,444.554243,437.599488,438.768056
"Cyprus1, 2",439.696383,448.952979,437.676459
Bulgaria,438.738260,436.125725,446.468709
United Arab Emirates,434.007165,441.703736,448.370296
Kazakhstan,431.798409,392.736233,424.707523
Thailand,426.737491,441.219934,443.999935
Chile,422.632355,441.398163,444.933920
Malaysia,420.512968,398.196060,419.502649
Mexico,413.281467,423.553762,414.920148
Montenegro,409.626613,422.111354,410.097602
Uruguay,409.291568,411.348919,415.842935
Costa Rica,406.999867,440.547811,429.350968
Albania,394.329333,393.964252,397.373214
Brazil,391.459889,410.121848,404.710529
Argentina,388.431710,395.979123,405.632005
Tunisia,387.824630,404.078467,398.046451
Jordan,385.595556,399.034747,409.367215
Colombia,376.488601,403.402534,398.678632
Qatar,376.448399,387.504131,383.642553
Indonesia,375.114452,396.120095,381.911485
Peru,368.102547,384.151223,373.113448

3. Clean up your DataFrame. Drop rows that have NaNs.

In [54]:
df_means.columns = ["Mean_scores_in_Math", "Mean_scores_in_Reading", "Mean_scores_in_Science"]
df_means.dropna(inplace=True)
df_means

,Mean_scores_in_Math,Mean_scores_in_Reading,Mean_scores_in_Science
OECD average,494.046447,496.462864,501.159793
Shanghai-China,612.675536,569.588408,580.117831
Singapore,573.468314,542.215834,551.493157
Hong Kong-China,561.241096,544.600086,554.937434
Chinese Taipei,559.824796,523.118904,523.314904
Korea,553.766659,535.790490,537.787622
Macao-China,538.134495,508.949255,520.570875
Japan,536.406918,538.051485,546.735600
Liechtenstein,534.965083,515.521654,524.694992
Switzerland,530.931004,509.040250,515.297523
Netherlands,522.971758,511.229965,522.055822
Estonia,520.545522,516.294184,541.404756
Finland,518.750335,524.021670,545.441940
Canada,518.078519,523.116718,525.460970
Poland,517.501097,518.186881,525.816445
Belgium,514.745239,509.108049,505.457459
Germany,513.525056,507.676530,524.120799
Viet Nam,511.338208,508.218990,528.423259
Austria,505.540743,489.609335,505.781247
Australia,504.150766,511.803998,521.494746
Ireland,501.497460,523.173210,522.003959
Slovenia,501.127422,481.316283,514.142555
Denmark,500.026757,496.130881,498.474201
New Zealand,499.749903,512.186793,515.636319
Czech Republic,498.957882,492.889738,508.299079
France,494.984674,505.481483,498.970894
United Kingdom,493.934231,499.323115,514.129321
Iceland,492.795697,482.522440,478.154596
Latvia,490.571021,488.694414,502.186192
Luxembourg,489.845098,487.807043,491.215176
...,...,...,...
United States,481.366786,497.581718,497.409811
Lithuania,478.823277,477.306612,495.700086
Sweden,478.260636,483.335006,484.798966
Hungary,477.044455,488.461334,494.302351
Croatia,471.131461,484.565032,491.356583
Israel,466.481430,485.803212,470.072662
Greece,452.973427,477.197177,466.722029
Serbia,448.859130,446.130196,444.804111
Turkey,447.984415,475.491466,463.412909
Romania,444.554243,437.599488,438.768056
"Cyprus1, 2",439.696383,448.952979,437.676459
Bulgaria,438.738260,436.125725,446.468709
United Arab Emirates,434.007165,441.703736,448.370296
Kazakhstan,431.798409,392.736233,424.707523
Thailand,426.737491,441.219934,443.999935
Chile,422.632355,441.398163,444.933920
Malaysia,420.512968,398.196060,419.502649
Mexico,413.281467,423.553762,414.920148
Montenegro,409.626613,422.111354,410.097602
Uruguay,409.291568,411.348919,415.842935
Costa Rica,406.999867,440.547811,429.350968
Albania,394.329333,393.964252,397.373214
Brazil,391.459889,410.121848,404.710529
Argentina,388.431710,395.979123,405.632005
Tunisia,387.824630,404.078467,398.046451
Jordan,385.595556,399.034747,409.367215
Colombia,376.488601,403.402534,398.678632
Qatar,376.448399,387.504131,383.642553
Indonesia,375.114452,396.120095,381.911485
Peru,368.102547,384.151223,373.113448

4. Make the country names the index.

In [55]:
df_means

,Mean_scores_in_Math,Mean_scores_in_Reading,Mean_scores_in_Science
OECD average,494.046447,496.462864,501.159793
Shanghai-China,612.675536,569.588408,580.117831
Singapore,573.468314,542.215834,551.493157
Hong Kong-China,561.241096,544.600086,554.937434
Chinese Taipei,559.824796,523.118904,523.314904
Korea,553.766659,535.790490,537.787622
Macao-China,538.134495,508.949255,520.570875
Japan,536.406918,538.051485,546.735600
Liechtenstein,534.965083,515.521654,524.694992
Switzerland,530.931004,509.040250,515.297523
Netherlands,522.971758,511.229965,522.055822
Estonia,520.545522,516.294184,541.404756
Finland,518.750335,524.021670,545.441940
Canada,518.078519,523.116718,525.460970
Poland,517.501097,518.186881,525.816445
Belgium,514.745239,509.108049,505.457459
Germany,513.525056,507.676530,524.120799
Viet Nam,511.338208,508.218990,528.423259
Austria,505.540743,489.609335,505.781247
Australia,504.150766,511.803998,521.494746
Ireland,501.497460,523.173210,522.003959
Slovenia,501.127422,481.316283,514.142555
Denmark,500.026757,496.130881,498.474201
New Zealand,499.749903,512.186793,515.636319
Czech Republic,498.957882,492.889738,508.299079
France,494.984674,505.481483,498.970894
United Kingdom,493.934231,499.323115,514.129321
Iceland,492.795697,482.522440,478.154596
Latvia,490.571021,488.694414,502.186192
Luxembourg,489.845098,487.807043,491.215176
...,...,...,...
United States,481.366786,497.581718,497.409811
Lithuania,478.823277,477.306612,495.700086
Sweden,478.260636,483.335006,484.798966
Hungary,477.044455,488.461334,494.302351
Croatia,471.131461,484.565032,491.356583
Israel,466.481430,485.803212,470.072662
Greece,452.973427,477.197177,466.722029
Serbia,448.859130,446.130196,444.804111
Turkey,447.984415,475.491466,463.412909
Romania,444.554243,437.599488,438.768056
"Cyprus1, 2",439.696383,448.952979,437.676459
Bulgaria,438.738260,436.125725,446.468709
United Arab Emirates,434.007165,441.703736,448.370296
Kazakhstan,431.798409,392.736233,424.707523
Thailand,426.737491,441.219934,443.999935
Chile,422.632355,441.398163,444.933920
Malaysia,420.512968,398.196060,419.502649
Mexico,413.281467,423.553762,414.920148
Montenegro,409.626613,422.111354,410.097602
Uruguay,409.291568,411.348919,415.842935
Costa Rica,406.999867,440.547811,429.350968
Albania,394.329333,393.964252,397.373214
Brazil,391.459889,410.121848,404.710529
Argentina,388.431710,395.979123,405.632005
Tunisia,387.824630,404.078467,398.046451
Jordan,385.595556,399.034747,409.367215
Colombia,376.488601,403.402534,398.678632
Qatar,376.448399,387.504131,383.642553
Indonesia,375.114452,396.120095,381.911485
Peru,368.102547,384.151223,373.113448

5. What is the US pisa scores OECD average?

In [56]:
df_means.loc["United States", :]

Mean_scores_in_Math       481.366786
Mean_scores_in_Reading    497.581718
Mean_scores_in_Science    497.409811
Name: United States, dtype: float64

6. Challenging. How correlated are pisa math, reading, and science scores with each other? Write the correlation matrix to a file called 'pisa_corrs.xlsx'

This is a challenging question because, depending on how you read in the data, your columns are probably of type 'Object' and corr() won't work. Google around and see if you can convert the three columns to numbers. Then find the correlations.

In [57]:
CorrMatrix = df_means.corr()

CorrMatrix.to_excel("pisa_corrs.xlsx")